<div class="container">
    <h1>About Page</h1>
    <p>This service is but for the purpose of people to rent or sell used books to other people in their locality.</p>
    <p>Contact us for any enquires</p>
    <a href="/contact">Contact Us</a>
    <small>All rights reserved. Copyright &copy 2019</small>
</div>