<br>
<div class="container">
    <h4>Chat with {{owner.firstname}}</h4>
    <ul id="list">
    </ul>
    <form>
        <input type="text" id="message" class="form-control">
        <button type="button" class="btn btn-primary btn-1">Send</button>
    </form>
</div>