<br>
<br>
<br>
<div class="container">
    <h2 class="center-1 whiteBox-1">Book Rental</h2>
    <h2 class="center">
        <a href="/auth/facebook" class="btn btn-primary">Login with Facebook</a>
    </h2>

    <h2 class="center">
        <a href="/displayLoginForm" class= "btn btn-info">Login with Email</a>
    </h2>
    <h5 class="center">
        <a href="/signup" class="btn btn-secondary">Sign Up</a>
    </h5>
</div>
<style>
    body{
        background-image: url('/image/home.png');
    }
</style>