<div class="container">
    <div class="card" style="width: 18rem;">
  <img src="{{owner.image}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{owner.firstname}} {{owner.lastname}}</h5>
    <a href="/chatOwner/{{owner._id}}" class="btn btn-primary">Chat</a>
  </div>
</div>
</div>