<div class="container">
    <div class="row">
        <div class="col-sm"> </div>
        <div class="col-sm-5">
            <form action="/sinup" method="POST">
                <br>
                <div class="form-group">
                    <label for="firstname" id="form-reg">Firstname</label>
                    <input type="text" name="firstname" id="firstname" class="form-control">
                </div>
                <div class="form-group">
                    <label for="lastname" id="form-reg">Lastname</label>
                    <input type="text" name="lastname" id="lastname" class="form-control">
                </div>
                <div class="form-group">
                    <label for="email" id="form-reg">Email</label>
                    <input type="email" name="email" id="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password" id="form-reg">Password</label>
                    <input type="password" name="password" id="password" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password2" id="form-reg">Confirm Password</label>
                    <input type="password" name="password" id="password" class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
        <div class="col-sm"></div>  
    </div>
</div>
<style>
    body{
        background-image: url('/image/home.png');
    }
</style>