<div class="container">
    <div class="col-sm"></div>
    <div class="col-sm-4">
        <h3 class="green">Success</h3>
        <p class="green">Payment Successful!</p>
        <p>Customer Email: {{charge.source.name}}</p>
        <p>Amount: Rs.{{budget.total}} </p>
        <br>
        <a href="/">Go to profile</a>
    </div>
    <div class="col-sm"></div>
</div>